@font-face {
    font-family: 'Loos ExtraWide';
    src: url('/fonts/LoosRegular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Loos ExtraWide';
    src: url('/fonts/LoosRegular.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Loos ExtraWide';
    src: url('/fonts/LoosBlack.otf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Loos ExtraWide';
    src: url('/fonts/LoosBlack.otf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

:root {
    --loos: 'Loos ExtraWide', Arial, sans-serif, -apple-system;
}

img {
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}